html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(163, 163, 163);
}

.item {
    padding: 0px 15px 13px 15px;
    margin-bottom: 13px;
}

.Wrap {
    height: 79px !important;
    width: 375px;
    margin: 0px;
    padding: 0;
    background-color: white;
    border-bottom: black 1px solid;
    position: sticky;
    top: 0;
}

.bread {
    font-size: 12px;
}

.navbar-sticky {
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px #222;
    animation: moveDown 0.5s ease-in-out;
}

.navbar--logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    animation: rotate 0.7s ease-in-out 0.5s;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(0rem);
    }
}